.App {
  text-align: center;
  padding: 24px;
  background-color: aquamarine;
  height: 950px;
}

h1 {
  margin: 0px 300px;
  border-bottom: 6px solid black;
}

.div-seperator{
  display: grid;
  grid-template-columns: 90fr 1fr 90fr;
}

.song-image {
  height: 400px;
}

.column-seperator{
  background-color: black;
  height: 800px;
}

.top-20-list {
  margin: 32px;
}

.single-song {
  margin: 32px;
}




